.intro-container {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  flex-wrap: wrap;
  margin-top: 2%;
}
.intro-description {
  width: 50%;
  border: 2px #000000 solid;
  padding: 2%;
}
.intro-image {
  width: 10%;
  margin-right: 2%;
}
.image-cont {
  display: flex;
}
.title {
  font-size: 20px;
}
@media screen and (max-width: 768px) {
  .intro-container {
    flex-direction: column;
  }
  .intro-description {
    width: 100%;
    padding: 2.5%;
  }
  .intro-image {
    width: 25%;
  }
}
