.bio-description {
  width: 80%;
  margin-top: 2%;
  text-align: justify;
}
.bio-details {
  font-weight: bold;
}
.bio-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* padding-left: 5%;
  padding-right: 5%; */
  margin-bottom: 1.5%;
  border-radius: 25px;
}
.bio-image {
  border-radius: 100px;
  width: 40%;
  border-radius: 50%;
  margin-bottom: 3%;
}
.bio-sub-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .bio-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bio-description {
    width: 100%;
    margin-top: 3%;
    /* padding: 2%; */
  }
  .bio-image {
    width: 50%;
    margin-bottom: 2%;
  }
}
