.description {
  width: 80%;
}
li {
  margin-bottom: 2%;
}
.details {
  font-weight: bold;
}
.container {
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 5%;
  margin-bottom: 2%;
  border-radius: 25px;
}
.image {
  border-radius: 100px;
  width: 50%;
  border-radius: 50%;
  margin-bottom: 3%;
}
.sub-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .description {
    width: 100%;
    margin-top: 3%;
  }
  .image {
    width: 50%;
    margin-bottom: 2%;
  }
}
