.contact-container {
  padding: 1.5%;
  background-color: #1b2430;
  color: #ffffff;
  font-size: 18px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.contact-header {
  font-size: 25px;
}
.contact-me {
  align-self: center;
}
.developer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.icon {
  color: #0070fa;
  background-color: #ffffff;
  border-radius: 50%;
  transition: color 0.3s ease;
  padding: 6px;
  font-size: 35px;
  margin: 8px;
  display: inline-block;
}

.icon:hover {
  color: #ffffff !important;
  background-color: #0070fa;
}
.icons-list {
  display: flex;
  flex-direction: row;
}
.copyright {
  align-self: flex-start;
}

@media screen and (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    justify-content: space-around;
  }
}
.contact-header {
  color: #0070fa;
  font-weight: bolder;
}
