.achievements-list {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.trophy {
  color: gold;
  font-size: 25px;
  margin-right: 2%;
}
.ac {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .achievements-list {
    flex-direction: column;
  }
  .ac {
    text-align: start;
  }
}
