.people {
  list-style-type: none;
  margin: 1.5%;
}
.people-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.people-main-container {
  margin-bottom: 1%;
  border-radius: 25px;
}
.profile-img {
  width: 200px;
  height: 200px;
}
